* {
    box-sizing: border-box;
}

body {
    color: grey;
    text-align: center;
}

section.imagem-de-gato img {
    width: 400px;
    height: auto;
}

section.imagem-de-gato button {
    margin-top: 1rem;
    padding: .5rem 1rem;
}